{% extends 'base.html' %}


{% block content %}

    {% if user %}
        <div class="row">
            <div class="col-xs-12" style="display: flex; justify-content: space-between">
                <h1>{{user.fullname}}</h1>
                <a class="pull-right" href="/trade" style="margin-top: 20px">
                    <button class="btn btn-default">Make A Trade</button>
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6 text-center">
                <h3>Checking</h3>
                <br>
                <h4>Balance:</h4>
                <p>${{user.checking.balance}}0</p>
            </div>
            <div class="col-xs-6 text-center">
                <h3>Trading</h3>
                <br>
                <h4>Balance:</h4>
                <p>${{user.trading.balance}}0</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <table class="table">
                    <caption>Trades I Sent</caption>
                    <thead>
                        <tr>
                            <th>#</th>

                            <th>Receiver</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for trade in sender_trades %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{trade.receiver.fullname}}</td>
                            <td>${{trade.amount}}0</td>
                            <td class="trade-status">{{trade.status}}</td>
                        </tr>
                    {% end %}

                    </tbody>
                </table>

            </div>
            <div class="col-xs-6">
                <table class="table">
                    <caption>Trades I Received</caption>
                    <thead>
                        <tr>
                            <th>#</th>

                            <th>Sender</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for trade in receiver_trades %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{trade.sender.fullname}}</td>
                            <td>${{trade.amount}}0</td>
                            <td class="trade-status">
                                {% if trade.status == 'pending' %}
                                <a class="trade-complete" data-action="accept" data-id="{{trade.id}}">Accept</a>
                                | <a class="trade-complete" data-action="decline" data-id="{{trade.id}}">Decline</a>
                                {% else %}
                                {{trade.status}}
                                {% end %}
                            </td>
                        </tr>
                    {% end %}

                    </tbody>
                </table>
            </div>
        </div>

    {% end %}

    {% if not user %}
        <h1>Please <a href="/login">Login</a> To Continue.</h1>
    {% end %}

{% end %}